#container{
	background-image:url("../imagens/fundo2.jpg");
	position: relative;
	
}


.card{
	border-color:rgb(111, 0, 255);
	background: #58028a;
	
}

.row{
	background-color:rgb(255, 94, 0);
	margin-top: 30px;
	left: 10px;
	border: none;
	background-position: justify;
	
	
	
}
.cola{
	background-color:rgb(255, 94, 0);
	left: 20px;
	background-position: relative;
	height: 40px;
	width: 5000px;

	
}
.container{
	background-color:rgb(255, 94, 0);
	margin-top: 30px;
	left: 10px;
}

.container3{
	background-color:transparent !important;
}

.navbar navbar-expand-lg navbar-dark bg-primary{
	background-color:rgb
}
.colas{
	padding: none;
	height: 90px;
	width: 5000px;
	
	
}

.display-2{
	color:rgb(255, 153, 0)
}


.btn btn-outline-success my-2 my-sm-0{
	color: red;
}

.card-img-top{
	height: 180px;
	border-radius: 30px;
}



